<%- include('partials/header') %>
  <h1>404 Error</h1>
  <% if(message !== undefined){ %>
    <h3><%= message %></h3>
    <% }else{%>
      <p>Cant find what you want</p>
  <% } %>

<%- include('partials/footer') %>